.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .animation {
    width: 300px;
    height: 300px;
  }
  .text {
    font-family: var(--font-nunito);
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
  }
}
